name: se347-deps
services:
  elastic-search:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.6.2
    environment:
      - node.name=node1
      - cluster.name=elasticsearch-dev
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      - path.repo=/usr/share/elasticsearch/backups
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - elastic-node1-data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
    networks:
      - dev
  kibana:
    image: docker.elastic.co/kibana/kibana:8.6.2
    environment:
      - elasticsearch.hosts=http://elastic-search:9200
      - xpack.security.enabled=false
      - csp.strict=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "5601:5601"
    networks:
      - dev
    depends_on:
      - elastic-search
  kafka-console:
    restart: unless-stopped
    depends_on:
      - kafka
    networks: [ dev ]
    ports:
      - "6969:8080"
    environment:
      - KAFKA_BROKERS=kafka-svc:9092
    image: docker.redpanda.com/redpandadata/console:latest
  zookeeper:
    container_name: zookeeper
    volumes:
      - var-lib-zookeeper-data:/var/lib/zookeeper/data
    image: confluentinc/cp-zookeeper:7.4.6
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181"
    networks: [ dev ]
  kafka:
    restart: unless-stopped
    networks: [ dev ]
    container_name: kafka
    hostname: kafka-svc
    image: confluentinc/cp-kafka:7.4.6
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://kafka-svc:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  redis:
    image: redis:alpine3.20
    ports:
      - "6379:6379"
    networks: [ dev ]
volumes:
  elastic-node1-data:
      name: elastic-node1-data
      external: false
  var-lib-zookeeper-data:
    name: var-lib-zookeeper-data
    external: false
networks:
  dev:
    name: dev
    driver: bridge
    ipam:
      config:
        - subnet: "172.21.0.0/16"
          gateway: "172.21.0.1"
