name: dev-pipeline
on:
  workflow_dispatch:
  push:
    paths:
      - 'user-svc/src/main/**'
      - 'user-svc/compose.yaml'
    branches:
      - dev
jobs:
  build:
    name: Build Docker image
    runs-on: builder
    outputs:
      TAG: ${{ steps.update_tag.outputs.TAG }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 1
      - name: Update dev image tag
        id: update_tag
        working-directory: user-svc
        run: |
          echo "TAG=dev-$GITHUB_SHA" > .env
          echo "TAG=dev-$GITHUB_SHA" >>"$GITHUB_OUTPUT"
      - name: Build docker image
        working-directory: user-svc
        run: docker compose --profile all build
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_READ_WRITE_PACKPAGE}}
      - name: Push Docker image
        working-directory: user-svc
        run: docker compose --profile all push
  deploy:
    name: Deploy to dev environment
#    environment: dev
    runs-on: dev-docker
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 1
      - name: Update dev image tag
        working-directory: user-svc
        run: echo ${{needs.build.outputs.TAG}} > .env
      - name: Pull new Docker image version
        working-directory: user-svc
        run: docker compose --profile all pull
      - name: Deploy new Docker image
        working-directory: user-svc
        run: docker compose --profile all up -d